        body {
            background-color: #f9f4e9;
            font-family: 'Fredoka', sans-serif;
        }

        /*home*/
        .bg-section {
            max-width: 1300px;
            margin: 100px auto 0;
            overflow: hidden;
            margin-top: 60px;
        }

        .home-bg {
            background-image: url("Asset/BGHome.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 670px;
            position: relative;
        }

        /* Home bg Content */
        .bg-content {
            position: relative;
            z-index: 2;
            padding: 60px 70px 60px 120px;
            max-width: 650px;
            color: #6b300a;
            margin-left: 30px;
        }

            .bg-content h5 {
                letter-spacing: 6px;
                font-size: 30px;
                font-weight: 700;
                margin-top: 150px;
            }

            .bg-content span {
                color: #fff3e0;
            }

            .bg-content h1 {
                font-size: 52px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .bg-content p {
                background-color: rgba(255, 243, 224, 0.5);
                padding: 14px 18px;
                border-radius: 12px;
                font-size: 13px;
                margin-bottom: 22px;
                color: #4a2a14;
            }

            .learnmore-btn {
            border: 2px solid #6b300a;
            background: transparent;
            padding: 8px 24px;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 600;
            color: #6b300a;
            margin-left: 325px;
            text-decoration: none;
            display: inline-block;
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .learnmore-btn:hover {
           background: transparent;
           color: #6b300a;
           box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
           transform: translateY(-2px);
        }

        /*how it works*/
        .how-it-works-section {
            background-color: #fbf6eb;
            padding: 100px 0;
            margin-left: 120px;
        }

        .works-vid {
            border-radius: 20px;
            max-width: 400px;
        }

        .works-title {
            font-weight: 800;
            font-size: 32px;
            color: #6b300a;
        }

        .how-it-works-section span {
            color: #d09245;
        }

        .works-list {
            list-style: none;
            padding: 0;
            margin-top: 25px;
        }

            .works-list li {
                font-size: 14px;
                color: #6b300a;
                margin-bottom: 14px;
            }

            .works-list span {
                margin-right: 8px;
            }

        /*top creations*/
        .top-subtitle {
            font-size: 20px;
            letter-spacing: 2px;
            color: #6b300a;
            font-weight: 600;
        }

        .top-title {
            font-size: 40px;
            font-weight: 800;
            color: #6b300a;
            margin-bottom: 40px;
        }

        .top-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .top-item {
            display: flex;
            align-items: center;
            gap: 15px;
        }

            .top-item .num {
                width: 32px;
                height: 32px;
                background: #b56a2d;
                color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 14px;
            }

            .top-item .bar {
                width: 400px;
                height: 80px;
                background-color: #d2a35c;
                border-radius: 30px;
                flex: none;
            }

                .top-item .bar:hover {
                    background-color: #836241;
                    transform: translateY(-2px);
                    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
                    transform: translateY(-6px) scale(1);
                }

        /*pagination*/
        .pagination {
            margin-top: 30px;
            display: flex;
            gap: 20px;
            align-items: center;
            color: #6b300a;
            font-weight: 600;
            margin-left: 210px;
        }

            .pagination span {
                cursor: pointer;
            }


        /*Creator's Recommendation*/
        .creator-reco-section span {
            color: #d09245;
        }

        .creator-reco-title {
            font-size: 48px;
            font-weight: 800;
            letter-spacing: 2px;
            color: #6b300a;
        }

        /*Carousel*/
        /*creator recommendation*/
        .carousel-wrapper {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .carousel-viewport {
            width: calc(250px * 3 + 40px * 2);
            overflow-x: hidden;
            overflow-y: visible;
            display: flex;
            align-items: center;
            padding: 40px 0;
        }

        .carousel-track {
            display: flex;
            gap: 30px;
            transition: transform 0.5s ease;
        }

        .carousel-track.no-transition {
            transition: none;
        }

        .food-card {
            flex: 0 0 250px;
            height: 340px;
            background: #e6c18b;
            border-radius: 40px;
            padding: 20px;
            text-align: center;
            opacity: 0.6;
            transform: scale(0.85);
            transform-origin: center;
            transition: all 0.5s ease;
            position: relative;
        }

            .food-card img {
                width: 100%;
                height: 230px;
                object-fit: cover;
                border-radius: 24px;
            }

            .food-card.active {
                background: #d18d42;
                opacity: 1;
                transform: scale(1.15);
                transform-origin: center center;
                z-index: 3;
            }

        .card-title {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
        }

        .readmore-btn {
            border: 2px solid #6b300a;
            background: transparent;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 600;
            color: #6b300a;
            margin-top: 10px;
        }

        .readmore-btn:hover {
            background-color: #6b4a2a;
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        }

        .favorite-btn {
            position: absolute;
            top: 260px;
            right: 200px;
            width: 40px;
            height: 40px;
            background: transparent;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            .favorite-btn i {
                font-size: 25px;
                color: #fff;
            }

            .favorite-btn.active {
                background: #6b300a;
            }

                .favorite-btn.active i {
                    color: #e74c3c;
                }

            .favorite-btn:hover {
                transform: scale(1.1);
            }

        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #c49a6c;
            border: none;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: white;
            z-index: 10;
        }

            .nav-btn.left {
                left: 90px;
            }

            .nav-btn.right {
                right: 110px;
            }

        .carousel-icons {
            display: flex;
            justify-content: center;
            gap: 70px;
            margin-top: 30px;
        }

        .icon-btn {
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .icon-btn img {
            width: 50px;
            height: auto;
            opacity: 0.85;
        }

        .icon-btn:hover {
            transform: translateY(-6px) scale(1.1);
        }

        .icon-btn:hover img {
            opacity: 1;
        }

        /*our people*/
        .our-people-section {
            padding: 110px 0px;
            background: #f9f4e9;
            margin-left: 130px;
        }

        .people-card-wrapper {
            position: relative;
            width: 100%;
            max-width: 610px;
        }

        .people-card {
            background: #c89b52;
            border-radius: 40px;
            padding: 50px 60px;
            height: 260px;
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .people-img {
            height: 370px;
            position: absolute;
            left: 30px;
            bottom: 0;
        }

        .people-info {
            margin-left: 260px;
        }

            .people-info h3 {
                font-size: 30px;
                font-weight: 600;
                color: #fff;
                line-height: 1.1;
                margin-top: 150px;
            }

                .people-info h3 span {
                    font-weight: 700;
                    font-size: 40px;
                }

            .people-info p {
                font-size: 10px;
                letter-spacing: 2px;
                font-weight: 700;
                color: #fff3e0;
            }

        .people-nav {
            position: absolute;
            top: 50%;
            font-size: 30px;
            transform: translateY(-50%);
            width: 42px;
            height: 42px;
            border-radius: 50%;
            border: none;
            color: #c89b52;
            background-color: #e6e6e6;
        }

            .people-nav.left {
                left: -20px;
            }

            .people-nav.right {
                right: -20px;
            }

            .people-nav:hover {
                background: #a87434;
            }

        /*right side content*/
        .our-people-title {
            font-size: 42px;
            font-weight: 900;
            color: #c89b52;
        }

        .our-people-text {
            font-size: 14px;
            color: #a87434;
            max-width: 360px;
            margin-bottom: 25px;
        }

        .people-avatars {
            display: flex;
            gap: 18px;
        }

            .people-avatars img {
                width: 58px;
                height: 58px;
                border-radius: 50%;
                border: 3px solid #c89b52;
                object-fit: cover;
            }

        /*footer*/
        .custom-footer {
            background-color: #c79850;
            border-radius: 50px 50px 0 0;
        }
